.main {
    background: #f5f5f5;
    padding: 0 0 1.6rem;
    overflow-x: hidden;
}
.wrapper{
	flex: 1 1 0%;
}
.content-body{
	width: 100%; max-width: 50.4rem; margin: 0px auto; position: relative;
}
.cover{
	background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; max-width: 100%; margin: 1.4rem auto; border-radius: 0.2rem; box-shadow: 0px 0px 0.1rem rgba(0, 0, 0, 0.24), 0px 0.1rem 0.2rem rgba(0, 0, 0, 0.12); overflow: hidden;
	padding: 10px;
}
.inner{
	max-width: 50.4rem; margin: 0px auto;
}
.primary-content{
	display: table; width: 100%;
}
.close-btn{
	position: absolute;
	right: 26px;
}
.section-title{
	text-align: center;
	line-height: 30px;
	padding: 14px 0px;
	font-size: 22px;
	font-weight: 600;
}
.form-display{
	display: block; position: relative; width: 100%; padding-bottom: 50.3333%;
}
.label-input{
	padding: 12px auto;
	font-weight: 400;
}
.payement-gate{
	margin:30px auto!important;
	padding-right: 0px !important;
	display: block;
}
.subscribe{
	padding:23px;
}
.right-label{
	float: right;
}
.plan{
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
	font-weight: 300;
	margin-left: 10px;
	margin-left: 1px !important;
	padding-left: 0px !important;
}
.sub{
	margin: 20px auto;
	color: #B4B4B4;
	font-weight: 600;

}
.left-label{
    position: relative;
    top: -4px;
	font-weight: 300;
	margin-left: 10px;
}
.pay{
	color: #fff !important;
	background: #0079cc;
	border-width: 0 !important;
	border-radius: 4px;
	letter-spacing: 0;
	height: 40px;
	padding: 0 30% !important;
	font-weight: 600;
	line-height: 40px !important;
	box-shadow: 0 -2px 0 rgba(0,0,0,.15) inset;
	outline: 0 !important;
	margin: 50px auto 0px;
	display: block;
}
.add-input{
	height: 42px!important;
	background-color: #f9f9f9!important;
	box-shadow: none !important;
}
.pr0{
	/*padding-right: 0px!important;*/
    display: block;
    margin: auto;
}
.label-in{
	/*padding-top: 12px;*/
}

.return-stats{
	text-align: center;
}
.htstats{
	margin: 20px;

}
.pstats{
	max-width: 265px;
	font-size: 15px;
	color: #888;
	margin: auto;
}
.return{
 margin-top: 30%;
}
.outer{
	 display: table;
    position: relative;
    height: 100%;
    width: 100%;
}